<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>form</title>
</head>

<script src="../static/layui/layui.js"></script>
<script type="module" src="../static/js/form.js"></script>
<link rel="stylesheet" href="../static/layui/css/layui.css" media="all">

<body>
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>Symptom Test Form</legend>
        </fieldset>

        <div class="layui-form" action="">

                <label class="layui-form-mid" style="width:50%;margin-left:24%;margin-right:24%">Situation Test (Frequency)</label>

                <br>
                <br>
                <br>
                <br>
                <br>
                <!--Q1-->
            <div>
                <label class="layui-form-mid" style="width:75%;margin-left:25%">My cough is worse when I lie down</label>
                <br><br><br>
                <div id="Q1" name="Frequency" class="layui-input-block">

                    <input type="radio" name="Q1Frequency" value="0" title="0">
                    <input type="radio" name="Q1Frequency" value="1" title="1">
                    <input type="radio" name="Q1Frequency" value="2" title="2">
                    <input type="radio" name="Q1Frequency" value="3" title="3">
                    <input type="radio" name="Q1Frequency" value="4" title="4">
                </div>
            </div>
                <!--Q2-->
                <label class="layui-form-mid" style="width:50%;margin-left:24%;margin-right:24%">My coughing problem causes me to restrict my personal and social life.</label>
                <br><br>
                <div id="Q2" name="Frequency" class="layui-input-block">

                    <input type="radio" name="Q2Frequency" value="0" title="0">
                    <input type="radio" name="Q2Frequency" value="1" title="1">
                    <input type="radio" name="Q2Frequency" value="2" title="2">
                    <input type="radio" name="Q2Frequency" value="3" title="3">
                    <input type="radio" name="Q2Frequency" value="4" title="4">
                </div>
            <!--Q3-->
            <label class="layui-form-mid" style="width:50%;margin-left:24%;margin-right:24%">I tend to avoid palces because of my cough problem</label>
            <br><br><br>
            <div  id="Q3" name="Frequency" class="layui-input-block">

                <input type="radio" name="Q3Frequency" value="0" title="0">
                <input type="radio" name="Q3Frequency" value="1" title="1">
                <input type="radio" name="Q3Frequency" value="2" title="2">
                <input type="radio" name="Q3Frequency" value="3" title="3">
                <input type="radio" name="Q3Frequency" value="4" title="4">
            </div>
            <!--Q4-->
            <label class="layui-form-mid" style="width:50%;margin-left:24%;margin-right:24%">I feel embarrassed because of my coughing problem</label>
            <br><br><br>
            <div  id="Q4" name="Frequency" class="layui-input-block">

                <input type="radio" name="Q4Frequency" value="0" title="0">
                <input type="radio" name="Q4Frequency" value="1" title="1">
                <input type="radio" name="Q4Frequency" value="2" title="2">
                <input type="radio" name="Q4Frequency" value="3" title="3">
                <input type="radio" name="Q4Frequency" value="4" title="4">
            </div>
            <!--Q5-->
            <label class="layui-form-mid" style="width:50%;margin-left:24%;margin-right:24%">People ask, "What's wrong?" Because I cough a lot</label>
            <br><br><br>
            <div  id="Q5" name="Frequency" class="layui-input-block">

                <input type="radio" name="Q5Frequency" value="0" title="0">
                <input type="radio" name="Q5Frequency" value="1" title="1">
                <input type="radio" name="Q5Frequency" value="2" title="2">
                <input type="radio" name="Q5Frequency" value="3" title="3">
                <input type="radio" name="Q5Frequency" value="4" title="4">
            </div>
            <!--Q6-->
            <label class="layui-form-mid" style="width:50%;margin-left:24%;margin-right:24%">I run out of air when I cough</label>
            <br><br><br>
            <div  id="Q6" name="Frequency" class="layui-input-block">

                <input type="radio" name="Q6Frequency" value="0" title="0">
                <input type="radio" name="Q6Frequency" value="1" title="1">
                <input type="radio" name="Q6Frequency" value="2" title="2">
                <input type="radio" name="Q6Frequency" value="3" title="3">
                <input type="radio" name="Q6Frequency" value="4" title="4">
            </div>
            <!--Q7-->
            <label class="layui-form-mid" style="width:50%;margin-left:24%;margin-right:24%">My coughing problem affects my voice</label>
            <br><br><br>
            <div  id="Q7" name="Frequency" class="layui-input-block">

                <input type="radio" name="Q7Frequency" value="0" title="0">
                <input type="radio" name="Q7Frequency" value="1" title="1">
                <input type="radio" name="Q7Frequency" value="2" title="2">
                <input type="radio" name="Q7Frequency" value="3" title="3">
                <input type="radio" name="Q7Frequency" value="4" title="4">
            </div>
            <!--Q8-->
            <label class="layui-form-mid" style="width:50%;margin-left:24%;margin-right:24%">My coughing problem limits my physical activity</label>
            <br><br><br>
            <div  id="Q8" name="Frequency" class="layui-input-block">

                <input type="radio" name="Q8Frequency" value="0" title="0">
                <input type="radio" name="Q8Frequency" value="1" title="1">
                <input type="radio" name="Q8Frequency" value="2" title="2">
                <input type="radio" name="Q8Frequency" value="3" title="3">
                <input type="radio" name="Q8Frequency" value="4" title="4">
            </div>
            <!--Q9-->
            <label class="layui-form-mid" style="width:50%;margin-left:24%;margin-right:24%">My coughing problem upsets me</label>
            <br><br><br>
            <div  id="Q9" name="Frequency" class="layui-input-block">

                <input type="radio" name="Q9Frequency" value="0" title="0">
                <input type="radio" name="Q9Frequency" value="1" title="1">
                <input type="radio" name="Q9Frequency" value="2" title="2">
                <input type="radio" name="Q9Frequency" value="3" title="3">
                <input type="radio" name="Q9Frequency" value="4" title="4">
            </div>
            <!--Q10-->
            <label class="layui-form-mid" style="width:50%;margin-left:24%;margin-right:24%">People ask me if I am sick because I cough a lot</label>
            <br><br><br>
            <div  id="Q10" name="Frequency" class="layui-input-block">

                <input type="radio" name="Q10Frequency" value="0" title="0">
                <input type="radio" name="Q10Frequency" value="1" title="1">
                <input type="radio" name="Q10Frequency" value="2" title="2">
                <input type="radio" name="Q10Frequency" value="3" title="3">
                <input type="radio" name="Q10Frequency" value="4" title="4">
            </div>


    </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button id="form-submit" class="layui-btn" lay-submit="" lay-filter="demo1">Submit</button>
                <button type="reset" class="layui-btn layui-btn-primary">Reset</button>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button id = "negative" class="layui-btn" lay-submit="" lay-filter="demo1">I have got negative result</button>

            </div>
        </div>
        </form>
    </div>
</div>
</body>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        form.render();
    });
</script>
