<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>form</title>
</head>

<script src="../static/layui/layui.js"></script>
<script type="module" src="../static/js/register.js"></script>
<link rel="stylesheet" href="../static/layui/css/layui.css" media="all">

<body>
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>Account Register</legend>
        </fieldset>
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">E-mail</label>
                <div class="layui-input-block">
                    <input type="text" name="email" id="email" lay-verify="title" autocomplete="off" placeholder="E-mail" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">Account<br>Name</label>
                <div class="layui-input-block">
                    <input type="text" name="name" id="name" lay-verify="title" autocomplete="off" placeholder="Account Name" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">Password</label>
                <div class="layui-input-block">
                    <input type="text" name="password1" id="password1" lay-verify="title" autocomplete="off" placeholder="Enter Password" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">Retype Password</label>
                <div class="layui-input-block">
                    <input type="text" name="password2" id = "password2"lay-verify="title" autocomplete="off" placeholder="Re-enter Passoword" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button id="register-button" class="layui-btn" lay-submit="" lay-filter="demo1">Submit</button>
                    <button type="reset" class="layui-btn layui-btn-primary">Reset</button>
                </div>
            </div>

        </form>
    </div>
</div>


<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        form.render();
    });
</script>
</body>
