<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>form</title>
</head>

<script src="../static/layui/layui.js"></script>
<script type="module" src="../static/js/relatednews.js"></script>
<link rel="stylesheet" href="../static/layui/css/layui.css" media="all">

<body>
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>Related News</legend>
        </fieldset>

        <!--single choice-->
        <!-- news_detail
         0-4 represents for risk level
        -->

        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">Related<br>News</label>
                <div class="layui-input-block">
                    <select name="news_detail" id="news_detail" lay-filter="aihao">

                        <option value="0">Cases Canceled</option>
                        <option value="1">Postive Cases in this city</option>
                        <option value="2" selected="">Postive Cases Around me</option>
                        <option value="3">Postive Cases that I have met</option>

                    </select>
                </div>
            </div>
            <!-- news_amount
            value corresponding to news_amount
            -->
            <div class="layui-form-item">
                <label class="layui-form-label">Related<br>Cases<br>Amount</label>
                <div class="layui-input-block">
                    <select name="news_amount" id="news_amount" lay-filter="aihao">

                        <option value="1" selected="">Only 1</option>
                        <option value="4">2-5</option>
                        <option value="8">6-10</option>
                        <option value="20">More than 10</option>

                    </select>
                </div>
            </div>
            <!-- news_date-->
            <div class="layui-inline">
                <label class="layui-form-label">News Date</label>
                <div class="layui-input-inline">
                    <input type="text" name="news_date" id="news_date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
            </div>

            <!-- news detail/supplement-->
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">Details</label>
                <div class="layui-input-block">
                    <textarea placeholder="Key in details" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button id="relatednews-button" class="layui-btn" lay-submit="" lay-filter="demo1">Submit</button>
                    <button type="reset" class="layui-btn layui-btn-primary">Reset</button>
                </div>
            </div>
            <div id="submitted-news" class="layui-form-mid layui-word-aux" style="width:50%;margin-left:24%;margin-right:24%">Cases Submitted</div>

        </form>

    </div>
</div>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        form.render();
    });
</script>
</body>
