<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>form</title>
</head>

<script src="../static/layui/layui.js"></script>
<script type="module" src="../static/js/takeouts.js"></script>
<link rel="stylesheet" href="../static/layui/css/layui.css" media="all">

<body>
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>Take Outs</legend>
        </fieldset>
        <!-- one line input-->

        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">Restaurant<br>Name</label>
                <div class="layui-input-block">
                    <input type="text" name="restaurant_name" id="restaurant_name" lay-verify="title" autocomplete="off" placeholder="Enter Restaurant Name" class="layui-input">
                </div>
            </div>


        <!-- single choice-->
        <!-- take_outs_date
         return type: String
        -->
                <!-- date-->
                <div class="layui-inline">
                    <label class="layui-form-label">Date</label>
                    <div class="layui-input-inline">
                        <input type="text" name="take_outs_date" id="take_outs_date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                    </div>
                </div>

        <!-- take out detail-->
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Details</label>
            <div class="layui-input-block">
                <textarea placeholder="Key in details" class="layui-textarea"></textarea>
            </div>
            </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button id = "takeOuts_button" class="layui-btn" lay-submit="" lay-filter="demo1">Submit</button>
                        <button type="reset" class="layui-btn layui-btn-primary">Reset</button>
                    </div>
                </div>
            <!-- submitted cases number-->
                <div id="submitted-takeout" class="layui-form-mid layui-word-aux" style="width:50%;margin-left:24%;margin-right:24%"> Cases Submitted</div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;


        form.render();
    });
</script>
</body>
