<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>form</title>
</head>

<script src="../static/layui/layui.js"></script>
<script type="module" src="../static/js/tripInfo.js"></script>
<link rel="stylesheet" href="../static/layui/css/layui.css" media="all">

<body>
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>Trips</legend>
        </fieldset>

        <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">Destination</label>
            <div class="layui-input-block">
                <select name="destination" id="destination">

                    <option value="Foggy_Button" selected="">Foggy Button</option>
                    <option value="Downtown">Downtown</option>
                    <option value="National_Mall">National Mall</option>
                    <option value="GeorgeTown">GeorgeTown</option>
                    <option value="Theodore_Roosevelt_Island">Theodore Roosevelt Island</option>
                    <option value="Columbia_Island">Columbia Island</option>
                    <option value="Pentagon">Pentagon</option>
                    <option value="Rosslyn">Rosslyn</option>

                </select>
            </div>
        </div>
            <!-- 回传 start_time
            0, 1, 2, 3 代表一天中的四个时段
            -->
            <div class="layui-form-item">
                <label class="layui-form-label">Start Time</label>
                <div class="layui-input-block">
                    <select name="trips_start_time" id="trips_start_time">

                        <option value="0">0:00-7:00</option>
                        <option value="1">7:00-12:00</option>
                        <option value="2" selected="">12:00-19:00</option>
                        <option value="3">19:00-24:00</option>

                    </select>
                </div>
            </div>
            <!-- 回传 end_time
            0, 1, 2, 3 代表一天中的四个时段
            -->
            <div class="layui-form-item">
                <label class="layui-form-label">End Time</label>
                <div class="layui-input-block">
                    <select name="trips_end_time" id="trips_end_time">

                        <option value="0">0:00-7:00</option>
                        <option value="1">7:00-12:00</option>
                        <option value="2" selected="">12:00-19:00</option>
                        <option value="3">19:00-24:00</option>

                    </select>
                </div>
            </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Details</label>
            <div class="layui-input-block">
                <textarea id="trip_detail" placeholder="Key in details" class="layui-textarea"></textarea>
            </div>
        </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button id="submit_tripInfo" class="layui-btn" lay-submit="" lay-filter="demo1">Submit</button>
                    <button type="reset" class="layui-btn layui-btn-primary">Reset</button>
                </div>
            </div>

        </form>

    </div>
    </div>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form;
        form.render();
    });
</script>
</body>
